<%- include('layout') %>

<form method="post" action="/login">
  <% if (message) { %>
    <div style="color:red"><%= message %></div>
  <% } %>

  <label for="username">Login:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Hasło:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Zaloguj</button>
</form>

<%- include('footer') %>